In [15]:
import pandas as pd
import numpy as np
import plotly.express as px

In [24]:
check_balance_df = pd.read_csv('../csv/check_balance.csv')
paynow_transfer_df = pd.read_csv('../csv/paynow_transfer.csv')
scan_to_pay_df = pd.read_csv('../csv/scan_to_pay.csv')

In [21]:
paynow_transfer_df.head()

,bank_function,date,transaction_time,account_number,recipient_number,amount
0,PayNow Transfer,1/6/23,8:30:15,34567890,98765432,1250.75
1,PayNow Transfer,1/6/23,10:15:30,45678901,91234567,24.50
2,PayNow Transfer,2/6/23,11:20:45,56789012,95555555,3500.25
3,PayNow Transfer,2/6/23,9:45:30,67890123,91234568,15.80
4,PayNow Transfer,2/6/23,14:30:20,78901234,91111111,80.60

In [25]:
check_balance_df['session_rating'] = np.random.randint(1, 6, size=len(check_balance_df))
paynow_transfer_df['session_rating'] = np.random.randint(1, 6, size=len(paynow_transfer_df))
scan_to_pay_df['session_rating'] = np.random.randint(1, 6, size=len(scan_to_pay_df))

In [26]:
check_balance_df.to_csv('check_balance.csv', index=False)
paynow_transfer_df.to_csv('paynow_transfer.csv', index=False)
scan_to_pay_df.to_csv('scan_to_pay.csv', index=False)